<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/urls" class="nav-item nav-link">My URLs</a>
        <a href="/urls/new" class="nav-item nav-link">Create New URL</a>
      </div>
    <!-- Check if user defined, then how appropriate part -->
    <% if (user) { %>
      <div class="navbar-nav ml-auto">
        <span class="navbar-text" style="color: black">Logged in as: <%= user.email %></span>
        <form method="POST" action="/logout">
          <button type="submit" class="btn btn-secondary ml-2">Logout</button>
        </form>
      </div>
    <% } else { %>
      <div class="navbar-nav ml-auto">
        <a href="/register" class="nav-item nav-link">Register</a>
        <a href="/login" class="nav-item nav-link">Login</a>
      </div>
    <% } %>
    </div>
  </nav>
</header>