<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
    />
  </head>
  <body>
    <!--Form to login-->
    <form method="POST" action="/login">
      <!--Obtain user email-->
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
      <!--Obtain user password-->
      <label for="email">Password:</label>
      <input type="password" id="password" name="password">
      <!--Submit obtained login credentials-->
      <input type="submit" value="Login">
    </form>
  </body>
</html>